In [ ]:
## Lists and Tuples

# Lists and Tuples are compound data structures

In [2]:
# Tuples are an ordered sequence. Different types can be contained in a tuple. 

tup1 = ("dog", 3, 4.9)

tup1[1]

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
# We can concatenate tuples by adding them
# Tuples are immutable but you can slice them and create new ones
# Use sorted() to sort a tuple
# Tuples can contain tuples within (Nesting) then select tup[2][1]...

tup2 = ((6, 7), (4, "one", 6.0), 5, 3)

In [22]:
# Lists are similar to tuples but use square brackets and are mutable 

list1 = [1, 2, 3, 4]

# You can nest lists and tuples in lists. 
list2 = [(1, 0), 2, 3, [4, 5, 6]]
list2[0][1]

0

In [23]:
# lists are mutable

list3 = list2 + [55] # everytime you run this, you'll add another 55
list3

# extend list by given elements
list2.extend([66, 77, 88])
list2

[(1, 0), 2, 3, [4, 5, 6], 66, 77, 88]

In [24]:
# append to list given element
list2.append(["str1", "str2"])
list2

[(1, 0), 2, 3, [4, 5, 6], 66, 77, 88, ['str1', 'str2']]

In [25]:
list2[0] = "new element"
list2

['new element', 2, 3, [4, 5, 6], 66, 77, 88, ['str1', 'str2']]

In [26]:
# delete
del(list2[0:3])
list2

[[4, 5, 6], 66, 77, 88, ['str1', 'str2']]

In [30]:
# convert a string to a list using split
st = " hi, hello, what's poppin"

L = st.split()
L

# split on char (char won't show)
L2 = st.split(",")
L2

[' hi', ' hello', " what's poppin"]

In [47]:
# Aliasing and Side Effects

list4 = [6, 7, 8, "band", "beat"]
list5 = list4

list5[0] = 988888888888888
list5

[988888888888888, 7, 8, 'band', 'beat']

In [48]:
# now list4 will have changed as well -> side effect since list4 and list5 are referencing the same list
list4

[988888888888888, 7, 8, 'band', 'beat']

In [49]:
# instead of referring to one list, you can clone a list by:

list6 = list5[:]
list6

[988888888888888, 7, 8, 'band', 'beat']

In [50]:
list5[0] = 2
list5

[2, 7, 8, 'band', 'beat']

In [51]:
list6

[988888888888888, 7, 8, 'band', 'beat']

In [ ]:
# to look at methods or learn more about an object:
help(list6)