In [21]:
# Sets: unordered (no index) type of collection 
# there is only one of each element in the set 

set1 = {"hi", "hello", "hi", "hey"} # duplicate elements
set1 # no duplicate - Python automatically removes

{'hello', 'hey', 'hi'}

In [22]:
# converting a list to a set
list1 = [1, 2, 2, 2, 3, 4, 5, 5]

set2 = set(list1)
set2

{1, 2, 3, 4, 5}

In [23]:
# Set Operations
set1

# add item
set1.add("aloha")
set1

{'aloha', 'hello', 'hey', 'hi'}

In [24]:
# remove item 
set1.remove("hey")
set1

{'aloha', 'hello', 'hi'}

In [28]:
set1.add("hola")
set1.add("sup")

# remove multiple items 
set1 -= {"aloha", "hello"}
set1

{'hi', 'hola', 'sup'}

In [29]:
# Check if something is in a set

"namaste" in set1

False

In [30]:
# To find the intersection of two sets:

set2 = {"party", "hola", "sigma", "cheese"}

set1 & set2

{'hola'}

In [31]:
# To find the union:

set1.union(set2)

{'cheese', 'hi', 'hola', 'party', 'sigma', 'sup'}

In [32]:
set3 = set1.union(set2)

# check if a set is a subset
set1.issubset(set3)

True

In [36]:
# check if a set is a superset
set1.issuperset(set3)

False

In [33]:
# Find the difference in set1 but not set2

set3.difference(set2)

{'hi', 'sup'}